@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;

@layer base {
  body {
    @apply a4k;
  }
}

@tailwind components;
@tailwind utilities;

html {
  @apply a4l;
}

.header {
  @apply a2e;
}

.sticky {
  @apply aj ad[9999] an a4m a34 aN dark:a0;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.navbar > li > a {
  @apply lg:a2f;
}

.sticky .navbar > li > a {
  @apply lg:a2e;
}

.menu-scroll.active {
  @apply aH;
}

.menu-wrapper {
  @apply ag;
}

.menu-wrapper.show {
  @apply a5;
}

.title {
  background: linear-gradient(
    180deg,
    rgba(74, 108, 247, 0.4) 0%,
    rgba(74, 108, 247, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.2;
  @apply a1 a2L/2 a2 a2M/2 a1F[40px] a4n !a1H sm:a1F[60px] lg:a1F[95px];
}

.dark .title {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

#supportCheckbox:checked ~ div span {
  @apply av;
}

.submenu-item a.active {
  @apply aH dark:aI;
}
.submenu-item a.active span svg {
  @apply a4o;
}

.tns-controls {
  @apply a1 a2L/2 a4p a3h a5 a2M/2 a12 lg:a4q[70px] lg:a4c;
}

.tns-controls button {
  @apply a5 a2o a2p a9 am a1j a16 a3c aH hover:a3r hover:aI dark:an dark:a3c dark:aI dark:hover:a16 dark:hover:a3r dark:hover:aI;
}

.grid-sizer {
  @apply a4 md:a1S/2 lg:a1S/3;
}

.portfolio-btn-wrapper button.active {
  @apply a3g;
}
